@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    height: 90vh;
    background-image: url("assets/bg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}
nav{
    position: relative;
    z-index: 2;
    width: 78vw;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}
.box{
    position: absolute;
    top: 0;
    height: 90vh;
    width:100vw;
    background-color: black;
    opacity: 0.5;
}